.d-flex{
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.m-10{
  margin: 10px;
}

.flex-wrap{
  flex-wrap: wrap;
}

/*//////////task1//////////*/

.ChangeInfo{
  display: flex;
  gap: 30px;
  justify-content: center;
}

/*///////////task2/////////////////*/


.ChangeInfo div {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

/*//////////////task3 - cookie clicker////////////////////*/

.gameContainer{
  justify-content: center;
  align-items: center;
}

.cookieScreen{
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.cookieScreen img:hover{
  cursor: pointer;
}

.upgradeMenu div{
  height: 50px;
  padding: 10px;
  border: 3px solid black;
  font-size: 18px;
  margin: 5px;
}

.upgradeMenu div:hover{
  cursor: pointer;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*///////////////Task 4//////////////////*/

.card{
  width: 350px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
}

/*///////////////////Task 5/////////////////////////*/

.colorField{
  width: 100%;
  height: 50px;
  border: 2px solid black;
}

/*////////////////////TASK 6/////////////////////////////*/

/*body{*/
/*  background-color: #34393a;*/
/*!*}*! for that task6 only*/

.productCard{
  background-color: #94a3a9;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  width: 430px;
}

.imageContainer button{
  background-color: black;
  color: white;
  font-size: 50px;
  position: absolute;
  cursor: pointer;
  opacity: 0.5;
}

.imageContainer button:hover{
  color: black;
  background-color: transparent;
  opacity: 1;
}

.imageContainer{
  position: relative;
}

.imageContainer img{
  width: 100%;
  height: 300px;
}

.leftSide{
  top: 130px;
  left: 10px;
}

.rightSide{
  top: 130px;
  right: 10px;
}


/*///////////////////////TASK 7//////////////////////*/

.box{
  height: 500px;
}

.colorBox{
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: 10px;
}

.container1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addedColors{
  height: 100%;
}

.progress{
  width: 50px;
  height: 80%;
  border: 2px solid black;
  position: relative;
}

.filledProgress{
  width: 100%;
  background-color: #0a53be;
  position: absolute;
  bottom: 0;
}

.addedBoxes{
  border: 2px solid black;
  height: 90%;
  width: 500px;
  align-content: flex-start;
}

/*////////////////TASK 8///////////////////////*/

.colorCard{
  padding: 10px;
  border: 5px solid gray;
  border-radius: 20px;
  margin: 10px;
  width: 350px;
}

.smallCard{
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 2px solid black;
}

/*//////////////TASK 9///////////////////*/

.numberBox{
  padding: 10px;
  border: 2px solid black;
}

/*////////////////////Task 10///////////////////////////*/
/*///////////////////////GOLD DIGGING GAME//////////////////////////////*/

.gameContainer{
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/61/67/06/1000_F_561670668_qPNdZIGqwGUpP6L1NEbZFzOqqfSZLe2n.jpg");
  background-size: cover;
  background-position: center;
}

.gameScreen{
  justify-content: space-around;
}

.playerScreen{
  border: 8px solid darkgoldenrod;
  background-image: url("https://cdn.gamedevmarket.net/wp-content/uploads/20220131184224/984a7bb452ebd8f456e86eb724df01be.png");
}

.upgradeBar{
  padding: 10px;
  justify-content: flex-start;
  border: 5px solid gray;
  background-image: url("https://st3.depositphotos.com/9461386/35794/v/450/depositphotos_357945102-stock-illustration-pixel-wood-background-pixel-art.jpg");
  background-size: cover;
  background-position: center;
}

.upgradeBar button{
  margin: 5px;
  padding: 5px;
}

.slots{
  height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.inventory{
  border: 8px solid saddlebrown;
  background-image: url("https://openclipart.org/image/400px/251653");
  background-position: center;
  width: 600px;
  overflow: scroll;
}

.inventory button {
  width: 100%;
  padding: 5px;
}

.energyBar{
  height: 50px;
  width: 500px;
  background-color: #7c7676;
  position: relative;
}

.remainingEnergy{
  height: 50px;
  background-color: green;
  position: absolute;
  left: 0;
}

.digBtn button{
  padding: 10px;
  font-size: 35px;
}

.slotCard{
  background-color: wheat;
  height: 100px;
  padding: 10px;
  border: 3px solid gray;
  border-radius: 20px;
}

.goldPrice {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.46);
}

.digBtn button{
  border-radius: 20px;
  color: saddlebrown;
}

.digBtn span{
  color: goldenrod;
}